// Colors
$dark-gray: rgb(55, 53, 47);
$medium-gray: rgba($dark-gray, 0.4);
$med-light-gray: rgba(25, 23, 17, 0.6);
$hover-color: rgba($dark-gray, 0.08);
$border-color: rgb(223, 223, 222);
$light-blue-1: #4adbe3;
$light-blue-2: #349b9f;
$light-blue-3: #d4feff;
$light-blue-4: #a9fcff;

// Padding
$menu-padding: 0px 15px 0px 15px;

// Font
$normal-font-size: 0.875rem;
$menu-font-weight: 600;
$back-up-fonts: "Helvetica, sans-serif";