.accommodation-container{
    margin-top: 20px;
    .accommodation-table {
        width: 100%;
        background-color: white;
        margin: 20px 0 40px;
    
        table {
            width: 100%;
            border-collapse: collapse;
    
            th, td {
                text-align: left;
                padding-left: 16px;
            }
            tr{
                height: 60px;
                border-bottom: 0.5px solid #e7e7e7;
            }
    
            tbody tr {
                border-bottom: 0.5px solid #e7e7e7;
                height: 52px;
            }
    
        }
    }
}